<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <ul>
      <% if current_user %>
        <li><%= current_user.name %> さんでログイン中</li>
      <% end %>
      <li><%= link_to "トップページ", root_path %></li>
      <% if logged_in? %>
        <li><%= link_to "会議室一覧", rooms_path %></li>
        <% if current_user.admin? %>
          <li><%= link_to "会議室登録", new_room_path %></li>
        <% end %>
      <% end %>
      <li><%#= link_to "予約一覧", entries_path %></li>
      <li><%#= link_to "予約登録", new_entry_path %></li>
      <% if current_user %>
        <li><%= link_to "ログアウト", auth_path(session), method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン", new_auth_path %></li>
      <% end %>
    </ul>
  </header>
  <hr>
  <div class="main">
    <%= yield %>
  </div>
  <hr>
  <footer>
    <p>©︎2022 Copyright reserved Reservation App</p
  </footer>
  </body>
</html>
