<p>
  <strong>予約者:</strong>
  <%= entry.user_name %>
  <strong>Email:</strong>
  <%= entry.user_email %>
  <strong>予約日時:</strong>
  <%= entry.reserved_date %>
  <strong>使用時間:</strong>
  <%= entry.usage_time %>
  <strong>使用人数:</strong>
  <%= entry.people %>
  <% if current_user.email == entry.user_email || current_user.admin? %>
    <%= link_to 'Destroy', entry_path(entry.id), method: :delete %>
  <% end %>
</p>
