<tr>
  <td><%= entry.user_name %></td>
  <td><%= entry.user_email %></td>
  <td><%= entry.reserved_date.strftime("%Y/%m/%d %H:%M") %></td>
  <td><%= entry.usage_time %>時間</td>
  <td><%= entry.people %>人</td>
  <% if current_user.email == entry.user_email || current_user.admin? %>
    <td><%= link_to 'Destroy', entry_path(entry.id), method: :delete %></td>
  <% end %>
</tr>