<p id="notice"><%= notice %></p>

  <strong>Name:</strong>
  <%= @room.name %>

  <strong>Place:</strong>
  <%= @room.place %>

  <strong>Number:</strong>
  <%= @room.number %>

  <strong>Terms of use:</strong>
  <%= @room.terms_of_use %>

  <strong>images:</strong>
  <% @room.images.each do |image| %>
    <%= image_tag image, class: "image" %>
  <% end %>

<h3>予約状況</h3>

<table>
    <thead>
      <tr>
        <th>予約者</th>
        <th>Email</th>
        <th>予約日時</th>
        <th>使用時間</th>
        <th>使用人数</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @room.entries.each do |ent| %>
        <%= render "entries/entry",entry: ent %>
      <% end %>
    </tbody>
  </table>

<% if current_user.admin %>
  <%= link_to 'Edit', edit_room_path(@room) %> |
<% end %>
<%= link_to 'Back', rooms_path %> |
<%= link_to 'Reserve', new_entry_path(room_id: @room.id) %>
